html, body {
  width: 100vw;
  max-width: 100vw;
  overflow-x: hidden;
}

*:not(canvas) {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
}

canvas {
  display: block;
  width: 100%;
  height: 100%;
}